html,
body {
	height: 100%;
	margin: 0;
	background-color: #151e30;
}

.all {
	display: flex;
}

.navbar {
	background: #011333 !important;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

/* .conatainer {
	background-color: #1d2f45;
} */
.form {
	width: 420px;
	padding: 25px;
	background: #1d2f45;
	border-radius: 15px;
	color: white;
	margin: 50px 0;
}
/* .container {
	align-items: center;
	display: block;;
	flex-grow: 1;
	width: 100%;
	justify-content: center;
} */
.navbar-item:hover {
	background: #151e30 !important;
}
/* .control {
	display: flex !important;
	justify-content: center !important;
} */
/* .form{
	margin-left: auto!important;
	margin-right: auto!important;
	margin-top: auto!important;
	margin-bottom: auto!important;
} */
/* .navbar{
	padding-left: .5rem!important;
	padding-right: .5rem!important;
	
} */
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100% - 65px);
}
.studio {
	display: flex;
	flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin: auto;
    background: #1d2f45;
    border-radius: 39px;
}
.vedio,.canva{
	border: 1px solid black;
	height: 30%;
	margin:2%;

}

.camera {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
    /* align-items: flex-start; */
    /* margin: auto; */
    border: 1px solid;
    padding: 20px;
}
.setting{
	border: 1px solid;
	padding: 20px;
	flex-direction: column;
}
.preview{
	border: 1px solid;
	padding: 20px;
	flex-direction: column;
	align-items: flex-end;
}
footer {
	text-align: center;
	color: #fff;
	margin-top: auto;
}
@media only screen and (max-width: 600px) {
	.form {
		width: 320px;
		padding: 25px;
		background: #1d2f45;
		border-radius: 15px;
		color: white;
		margin: 50px 0;
	}
}