/************/
/* css body */
/************/

html,
body {
  height: 100%;
  margin: 0;
  background-color: #151e30;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: calc(100% - 65px); */
}
.all {
  display: flex;
}
.comment
{
	display: flex;
	flex-direction: row;
	width: 80%;
}
.comment h2
{
	margin-right: 20px;
	font-size: 20px;
}
.comment p{
	word-wrap: break-word;
}
/**************/
/* css navbar */
/**************/
.navbar {
  background: #011333 !important;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.navbar-item:hover {
  background: #151e30 !important;
}

/**************/
/* css form */
/**************/
.setting {
  border: 1px solid;
  padding: 20px;
  flex-direction: column;
}
.form {
  width: 420px;

  padding: 25px;
  background: #1d2f45;
  border-radius: 15px;
  color: white;
  margin: 50px 0;
}
/* .control {
	display: flex !important;
	justify-content: center !important;
} */
/* .form{
	margin-left: auto!important;
	margin-right: auto!important;
	margin-top: auto!important;
	margin-bottom: auto!important;
} */
/* .navbar{
	padding-left: .5rem!important;
	padding-right: .5rem!important;
	
} */
.studio {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  background: #1d2f45;
  border-radius: 15px;
  margin: 10px;
}
.control {
  flex-basis: 90% !important;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#video {
  position: relative;
  width: 100%;
  height: 100%;
}
.sticks {
  /* width: 100%;
	height: 100%;
	border: 1px solid black; */
  height: 350px;
  overflow: auto;
  /* border: 1px solid; */
  width: 10%;
}
#canvas {
  width: 100%;
  height: 100%;
}
.video {
  position: relative;
  margin: auto;
  width: 40%;
  /* margin-left: 5vw; */
}
.canva {
  margin: auto;
  width: 40%;
  border: 1px black solid;
  /* margin-left: 5vw; */
}
.camera {
  align-items: center;
  display: flex;
  width: 100%;
  padding: 10px;
}
.preview {
  border: 1px solid;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* overflow: auto; */
  /* align-items: flex-end; */
  height: 450px;
  overflow: auto;
}
.single__image {
  position: relative;
}

.single__image .hover__onMe {
  position: absolute;
}

/* .single__image img:hover {
  opacity: 0.5;
} */

/* .single__image button {
  /* visibility: hidden; */
/* position: absolute;
  left: 110px;
  top: 80px;
}

.single__image div {
  color: green;
  background-color: #fff;
}

.hover__onMe:hover { */
/* visibility: visible; */
/* opacity: 0.5;
} */

.stiker-on-video {
  visibility: hidden;
  position: absolute;
  left: 0%;
  width: 24%;
}
.sticker-item {
  cursor: pointer;
}
/* span.file-cta {
  display: none;
} */
.imageStudio {
  width: 18%;
  margin: 10px;
  align-items: center;
}
.images {
  position: relative;
}

.file-cta {
  display: none;
}
#removeImage {
  color: red;
  cursor: pointer;
}
#removeImage:hover {
  color: indianred;
}
.card {
  background-color: #f2eeee;
  width: 50%;
  margin: 3rem;
}
.content span {
  cursor: pointer !important;
  color: red !important;
}
.content span:hover {
  opacity: 20%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .card {
    background-color: #f2eeee;
    width: 100%;
    margin: 1.5rem;
  }
  .card-content {
    padding: 0.5rem;
  }
}
/*  */
