/************/
/* css body */
/************/

html,
body {
  height: 100%;
  margin: 0;
  background-color: #151e30;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 65px);
}
.all {
  display: flex;
}

/**************/
/* css navbar */
/**************/
.navbar {
  background: #011333 !important;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.navbar-item:hover {
  background: #151e30 !important;
}

/**************/
/* css form */
/**************/
.setting {
  border: 1px solid;
  padding: 20px;
  flex-direction: column;
}
.form {
  width: 420px;

  padding: 25px;
  background: #1d2f45;
  border-radius: 15px;
  color: white;
  margin: 50px 0;
}
/* .control {
	display: flex !important;
	justify-content: center !important;
} */
/* .form{
	margin-left: auto!important;
	margin-right: auto!important;
	margin-top: auto!important;
	margin-bottom: auto!important;
} */
/* .navbar{
	padding-left: .5rem!important;
	padding-right: .5rem!important;
	
} */
.studio {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  background: #1d2f45;
  border-radius: 15px;
  margin: auto;
}

#video {
  position: relative;
  width: 100%;
  height: 100%;
}
.sticks {
  /* width: 100%;
	height: 100%;
	border: 1px solid black; */
  height: 350px;
  overflow: auto;
  /* border: 1px solid; */
  width: 10%;
}
#canvas {
  width: 100%;
  height: 100%;
}
.video {
  position: relative;
  margin: auto;
  width: 40%;
  /* margin-left: 5vw; */
}
.canva {
  margin: auto;
  width: 40%;
  border: 1px black solid;
  /* margin-left: 5vw; */
}
.camera {
  align-items: center;
  display: flex;
  width: 100%;
  padding: 10px;
}
.preview {
  border: 1px solid;
  padding: 20px;
  flex-direction: column;
  align-items: flex-end;
  min-height: 300px;
}

.loaded__images {
  /* position: relative; */
}

.single__image {
  position: relative;
}

.single__image .hover__onMe {
  position: absolute;
}

/* .single__image img:hover {
  opacity: 0.5;
} */

.single__image button {
  /* visibility: hidden; */
  position: absolute;
  left: 110px;
  top: 80px;
}

.single__image div {
  color: green;
  background-color: #fff;
}

.hover__onMe:hover {
  /* visibility: visible; */
  opacity: 0.5;
}

.stiker-on-video {
  visibility: hidden;
  position: absolute;
  left: 0%;
  width: 24%;
}
span.file-cta {
  display: none;
}
